header{
    padding: 10px 0;
    max-width: 100vw;
}
header > div{
    position: relative;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}
.header-title span{    
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;    
}
.title-2{
    margin-left: 2px;
    color: #006FFE;
}
.btn-menu{
    text-align: center;
    height: 100%;
    cursor:pointer;
    background: none;
    border: none;    
}
#check-btn-cv{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.btn-hidden{
    opacity: 0;
    visibility: hidden;
    width: 0;
    text-align: center;
    overflow: hidden;
    transition: width .5s,opacity 1s, visibility 1s ;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#check-btn-cv:checked + nav .btn-hidden{
    opacity: 1;
    visibility: visible;
    width: 50px;
}

.btn-menu svg{
    width: 30px;
    height: 30px;
    fill: rgba(0, 0, 0, 1);
}
#menu{
    position: fixed;
    width: 100vw;
    height: 100vh;   
    overflow: hidden;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1523%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1524%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L1349.61 0L1440 5.24z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1349.61 0L1440 5.24L1440 221.13L812.0199999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M812.02 0L1440 221.13L1440 241.32L377.96999999999997 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M377.97 0L1440 241.32L1440 385.27L137.39000000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L308.57 560L0 408.45z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 408.45L308.57 560L716.29 560L0 361.07z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 361.07L716.29 560L1079.33 560L0 218.51z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 218.51L1079.33 560L1114.4199999999998 560L0 80.17999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1523'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1524'%3e%3cstop stop-color='rgba(10%2c 29%2c 48%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center;
    transition: all 1s;
    z-index: 1000;
    color: #fff;
}
.menu-start{
    clip-path: inset(0 0 0 0);
    opacity: 1;
}
.menu-end{
    clip-path: inset(0 0 100% 0);
    opacity: 0;
}


.btn-close-menu{
    background:none;
    border: none;
    position: absolute;
    top: 5%;
    left:5%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .3s;
    opacity: 0;
    
}
.transform-btn-menu{
    top: 10%;
    left:10%;
    transition: all .3s;
    opacity: 1;
}

.btn-close-menu svg{
    width: 30px;
    height: 30px;
}
.list-menu{
    padding: 10px;
    width: 100%;
}
.option-nav-menu{
    text-decoration:none;
    list-style:none;
    margin: 40px 0;
    text-transform: uppercase;    
    cursor: pointer;
    display: flex;
    transform: translateY(100%);
    transition: all .3s;
    opacity: 0;
}
.transform-menu{
    transform: translateY(0);
    opacity: 1;
}

.option-nav-menu i{
    opacity: 0;
}

.option-nav-menu-view{
    opacity: 1;
}
.option-nav-menu:hover i{
    opacity: 1;
}

.option-nav-menu a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #ebebeb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: row-reverse;
}
.list-responsive{
    opacity: 0;
    visibility: hidden;
    display: none;
}

.container-list{
    padding: 10px;
}
.option-nav{
    list-style: none;
    display: inline;
    margin: 0 20px;
    font-size: 1rem;
    padding: 10px 5px;
    cursor: pointer;
    position: relative;
}
.option-nav a{
    text-decoration: none;
    color: #090909;
}
.nav-w-btn{
    margin: 0 5px;
    font-size: .9rem;
}

.bar-option-nav{
    position: absolute;
    bottom:0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #006FFE;
    transition: width .3s;

    --width: 100%;
}
.bar-option-nav__unset{
    width: var(--width);
}


.option-nav:hover .bar-option-nav{
    width: 100%;
}
