.portfolio-page{
    background-color: #fff;
    border-radius: 20px 20px 0 0 ;
    text-align: center;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
.cards-portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    margin-top: 60px;
    position: relative;
    width: 290px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.front-face, .back-face{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),
    linear-gradient(140deg, #686868 0%, #161616 100%);
    color: #fff;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4,.2,.2,1);
    border-radius: 10px;
}
.contents{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    perspective: 100px;
    transform: translateY(-50%) translatez(60px) scale(.94);
}
.front p{
    font-size: 1.7rem;
    margin: 0;
    font-weight: 500;
}

.front span{
    font-size: 1rem;
}
.front{
    padding: 0 20px;
}
.front ul{
    list-style: none;
    padding: 0;
}
.front p.bottom-bar::after{
    content: "";
    display: block;
    background-color: #fff;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    margin-inline: auto;
    margin: 10px 0 20px 0;
}
.front-face{
    transform: rotateY(0deg);
}

.back-face{
    transform: rotateY(180deg);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1523%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1524%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L1349.61 0L1440 5.24z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1349.61 0L1440 5.24L1440 221.13L812.0199999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M812.02 0L1440 221.13L1440 241.32L377.96999999999997 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M377.97 0L1440 241.32L1440 385.27L137.39000000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L308.57 560L0 408.45z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 408.45L308.57 560L716.29 560L0 361.07z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 361.07L716.29 560L1079.33 560L0 218.51z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 218.51L1079.33 560L1114.4199999999998 560L0 80.17999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1523'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1524'%3e%3cstop stop-color='rgba(10%2c 29%2c 48%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}
.icons img{
    width: 100%;
    height: 100%;
}
.card-btn-info{
    opacity: 0;
    visibility: hidden;
    font-size: .8rem;
    max-width: 0;
    transition: all 0.4s;
}
.btn-card-back{
    width: 55px;
    height: 40px;
    background-color: #090909;    
    border-radius: 10px;
    transition: all .4s;
}
.back-face button{
    background-color: #161616;
    border: none;
    border-radius: 10px;
    text-decoration: none;    
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 10px;
    width: 100%;
    height: 100%;
    color: #fff;
}
.btn-card-back:hover .card-btn-info{
    opacity: 1;
    visibility: visible;
    max-width: 100px;
    margin-left: 10px;
}
.btn-card-back:hover{
    width: 100px;
}
.back{
    padding: 10px;
}
.back ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
    color: #090909;
    gap: 10px;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
}
.back li{
    background-color: rgb(208, 208, 208);
    padding: 5px;
    width: 80px;
    border-radius: 10px;
    font-size: .9rem;
    margin: 0 auto;
}

.card:hover > .front-face{
    transform: rotateY(-180deg);
}
.card:hover > .back-face{
    transform: rotateY(0deg);
}